# Ignore the .idea folder (JetBrains IDE settings)
.idea/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore log files
*.log

# Ignore system files
.DS_Store
*.DS_Store

# Ignore a build folder in any subdirectory
**/build/

# Ignore sensitive user tokens
credentials.json
token.json
.centurion_planning/

