#
# Google API's/Securities to connect to <assistant-capability title='Gmail' userTypedQuery='GMAIL' />
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
httplib2
email.message
EmailMessage
#
#
# Offline-first, Hybrid ML (Local to Cloud Later)
transformers
sentence-transformers
scikit-learn
#
#
# macOS-first, Cross-platform later
keyring
plyer
#
#
# Automation and Autofill
playwright
APScheduler
#
#
# Backend/API and Data Storage
fastapi
pydantic
sqlalchemy
#
#
# Productivity and Packaging
python-dotenv
loguru
rich
#
#
# Testing
pytest
#
#
# Misc
faiss-cpu
numpy
tqdm
time
sleep
#
# Email parsing helpers
html2text
beautifulsoup4
#
#









