#
# Google API's/Securities to connect to GMAIL
google-api-python-client
google-auth
google-auth-oauthlib
#
#
# Offline-first, Hybrid ML (Local to Cloud Later)
transformers
sentence-transformers
scikit-learn
#
#
# macOS-first, Cross-platform later
keyring
plyer
#
#
# Automation and Autofill
playwright
APScheduler
#
#
# Backend/API and Data Storage
fastapi
pydantic
sqlalchemy
#
#
# Productivity and Packaging
python-dotenv
loguru
rich
#
#
# Testing
pytest
#
#
# Misc
faiss-cpu
numpy
#
#
#








